.header{
	display: flex;
	justify-content: space-between;
    align-items: center;

	&__title{
		color: #fff;
	}

	&__icon{
		color: #fff;
		font-size: 2em;
		margin: 0 0.5em;	
	}
}

.content{
	max-width: 1200px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 2em 0.5em;

	&__title{
		font-size: 20px;
		margin: 0 0.5em;
		@media (min-width: 960px){
			margin: 0;
		}
	}

	&__icon{
		font-size: 3em;
	}

	@media (min-width: 960px){
		&__title{
			font-size: 30px;
		}
		padding: 2em;
	}
}

.card-item{
	margin: 0.5em;
	width: 100%;

	&--horizontal{
		display: flex;

		& .card-item__image:after{
			opacity: 0;
		}

		& .card-item__features{
			font-size: 17px;
		}

		& .ant-card-body{
			width: -webkit-fill-available;
		}

		& .ant-card-meta-title {
			font-size: 30px;
			@media (min-width: 960px){
				font-size: 35px;
			}
		}

		& .ant-avatar{
			width: 62px;
			height: 62px;
		}

		& .ant-card-meta-description{
			font-size: 24px;
			font-weight: 500;

		}
	}

	@media (min-width: 960px){
		width: 48%;
	}

	@media (min-width: 1200px){
		width: auto;
	}

	&:hover{
		.card-item__image:after{
			opacity: 0;
		}
	}

	&__image{
		position: relative;
		width: 100%;
		height: 250px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		&:after{
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			display: block;
			content: '';
			opacity: 0.25;
			background-color: #000;
			transition: opacity 0.25s;
		}

		@media (min-width: 960px){
			
		}

		@media (min-width: 1200px){
			width: 350px;
		}
	}

	&__rate{
		margin: 1.5em 0 0;
		font-size: 1em;
	}

	&__features{
		border-top: 1px solid black;
		margin: 1.5em 0;
		padding: 1.5em 0;

		&__text{
			display: flex;
			justify-content: space-between;
		}
	}

	& .green{
		color: #24b124;
	}
}

.footer{
	background: #000;

	&__container{
		display: flex;
		justify-content: space-between;
	    align-items: center;
	}

	&__text{
		color: #fff;
	}

	&__icons{
		display: flex;
	}

	&__icon{
		color: #fff;
		font-size: 2em;
		margin: 0 0.5em;
	}
}